body{
    width: 1200px;
    margin: auto;
    font-family:'Roboto', sans-serif;
}

.loghi{
    height: 95px;
    width: auto;
    background-color: rgb(100, 187, 237);
    background-image: url(../img/pattern.png);

}

.frasi-evidenziate{
    background-color: yellow;
}

.row-odd{
    background-color: rgba(0, 204, 255);
}

.info{
    color: grey;
}

#logo{
    height: 100px;
}

#first-row{
    color: white;
    background-color: rgb(0, 162, 255);
}

.immagine1, .immagine2{
    height: 207px;
    width: 311px;
}

.immagine1{
    background-image: url(../img/monitor.jpg);
}

.immagine2{
    background-image: url(../img/graph.jpg);
}

h3{
    color: white;
    text-align: center;
    padding: 5px;
}