body{
    width: 1200px;
    margin: auto;
    font-family:'Roboto', sans-serif;
}

.loghi{
    height: 95px;
    width: auto;
    background-color: rgb(100, 187, 237);
    background-image: url(../img/pattern.png);
}

.frasi-evidenziate{
    background-color: yellow;
}

.row-odd{
    background-color: rgb(0, 255, 221);
}

.info{
    color: grey;
}

#logo{
    height: 100px;
}

#first-row{
    color: white;
    background-color: rgb(64, 165, 224);
}